#left {
    object-fit: contain;
    background-color: #5eb1bf;
    float: left;
}

#right {
    background-color: #cdedf6;   
}

#form-title {
    text-align: center;
    color: #042a2b;
}

label, input {
    display: block;
}

#form {
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #042a2b;
}

.element {
    margin: 20px;
    padding: auto;
}

#pet-name, #pet-breed, #pet-birthday, #pet-weight {
    width: max-content;
    height: 25px;
}